<section class="my-6 ">

    <div class="sm:flex sm:justify-center">
        <div class="p-4">
            <img class="rounded h-200" src="assets/img/undraw_cloud_hosting_aodd.png" alt="cloud">
        </div>
    
        <div class="p-4 pt-6">
            <h4 class="text-2xl">Back-End</h4>
            <ul class="list-disc mt-3">
                <li>Api-Rest-Full con Node.JS</li>
                <li>No-SQL con MongoDB y Firebase</li>
                <li>Alojamiento cloud en Heroku</li>
            </ul>
        </div>
    </div>
    
    <div class="text-center sm:flex sm:justify-center mt-4">
        <img class="h-12 mx-2" src="assets/img/nodejs-logo.png" alt="Logo Node.JS">
        <img class="h-12 mx-2" src="assets/img/heroku-logo.png" alt="Logo Heroku">
        <img class="h-12 mx-2" src="assets/img/firebase-logo.png" alt="Logo Firebase">
        <img class="h-12 mx-2" src="assets/img/mongodb.png" alt="Logo MongoDB">
    </div>

</section>

