<section class="my-6 py-2">

    <div class="sm:flex sm:justify-center">
        <div class="p-4">
            <img class="rounded h-200" src="assets/img/undraw_server_down_s4lk.png" alt="cloud">
        </div>
    
        <div class="p-4 pt-6">
            <h4 class="text-2xl">Docker</h4>
            <ul class="list-disc mt-3">
                <li>En entornos de desarrollo</li>
                <li>En entornos de producción</li>
            </ul>
        </div>
    </div>
    
    <div class="text-center sm:flex sm:justify-center mt-4">
        <img class="h-10 mx-3" src="assets/img/docker-logo.png" alt="Logo Angular">
        <img class="h-10 mx-3" src="assets/img/compose-logo.png" alt="Logo Electron">
    </div>

</section>