<section class="my-3">

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-3">
        <div class="p-3" >
            <h3 class="text-xl mb-4">Enlaces a proyectos</h3>
            
            <a href="https://hub.docker.com/u/elcascarudodev" target="_blank" class="block my-1 p-1 transition duration-500 rounded hover:bg-gray-400 ">Docker</a>
        </div>
    
        <div class="p-3" >
            
        </div>
    
        <div class="p-3" >
            <h3 class="text-xl mb-4">Frameworks & Servicios</h3>
            
            <a href="https://github.com/"       target="_blank" class="block my-1 p-1 transition duration-700 rounded hover:bg-gray-400 ">GitHub</a>
            <a href="https://angular.io/"       target="_blank" class="block my-1 p-1 transition duration-700 rounded hover:bg-gray-400 ">Angular</a>
            <a href="https://tailwindcss.com/"  target="_blank" class="block my-1 p-1 transition duration-700 rounded hover:bg-gray-400 ">TailWindCss</a>
            <a href="https://undraw.co/"        target="_blank" class="block my-1 p-1 transition duration-700 rounded hover:bg-gray-400 ">unDraw</a>
        </div>
    </div>

    <div class="pt-3 pb-1 text-sm text-center text-gray-600">
        <p>&copy; 2020 .::. El Cascarudo</p>
    </div>

</section>
